{% extends "base.html" %}
{% block content %}
  <h1>Todo List <a href="{% url "todo_list:task_create" %}">Add Task</a>
  </h1>

  {% if task_list %}
    {% for task in task_list %}
      {{ task.content }} <br> {{ task.created_at }} <br> {{ task.deadline }} <br> {{ task.is_done }} <br>
      {% if task.tags.all %}
        {% for tag in task.tags.all %}
          {{ tag.name }}
        {% endfor %}
      {% endif %}
      <a href="{% url 'todo_list:task_update' pk=task.id %}">
        Update
      </a>
      <a href="{% url 'todo_list:task_confirm_delete' pk=task.id %}">
        Update
      </a>

      <form action="{% url 'todo_list:toggle_task_status' pk=task.pk %}" method="POST">
        {% csrf_token %}
        {% if task.is_done %}
          <button type="submit">Undo</button>
        {% else %}
          <button type="submit">Complete</button>
        {% endif %}
      </form>


      <hr>
    {% endfor %}
  {% endif %}
{% endblock %}